@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
  height: 80
}

nav{
    display: flex;
    gap: 10px;
    align-items: center;
    /* max-width: 960px; */
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
}

nav h1 {
  margin-right: auto;
}

/* disabling scrollbar  */
::-webkit-scrollbar {
  display: none;
}

/* universal selection using sudo selectors */
*, *::after, *::before {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

input {
  font-family: 'Raleway', sans-serif;
}
