main {
  height: 80
}

/* nav{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
} */

/* nav h1 {
  margin-right: auto;
} */

/* disabling scrollbar  */
/* ::-webkit-scrollbar {
  display: none;
} */

/* universal selection using sudo selectors */
/* *, *::after, *::before {
  margin: 0;
} */

/* body {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
} */

/* input {
  font-family: 'Raleway', sans-serif;
} */

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
